@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --menu-color: #8779ff;
  --link-hover: #d4cffc;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: #222;
  margin: 0;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 60px;
  margin: 0;
}

.container.show-nav {
  transform: rotate(-12deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.2s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--menu-color);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.6s linear;
}
.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
nav {
  position: fixed;
  bottom: 70px;
  left: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  padding-left: 26px;
}
nav ul li {
  text-transform: uppercase;
  color: var(--menu-color);
  margin: 45px 0;
  transform: translateX(-180%);
  transition: transform 0.5s ease-in;
}
nav ul a {
  text-decoration: none;
  color: var(--menu-color);
}
nav ul a:hover {
  color: var(--link-hover);
}
nav ul li i {
  font-size: 25px;
  margin-right: 15px;
}

.content img {
  max-width: 100%;
}
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-160%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-180%);
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content p {
  color: #443;
  line-height: 1.6;
}
